/**
 * Module: Hide Columns
 * 
 * Additional styles for hidden columns.
 */
th[style*="display: none"],
td[style*="display: none"] {
  visibility: hidden !important;
  padding: 0 !important;
  width: 0 !important;
  overflow: hidden;
}
